<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                      http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd"
        bean-discovery-mode="all">

    <interceptors>
        <class>interceptors.ErrorDisplayer</class>
    </interceptors>
    <alternatives>
<!--        <class>services.governmentId.UnitedStatesIdValidator</class>-->
    </alternatives>
    <decorators>
        <class>services.governmentId.LoggingGovernmentIdDecorator</class>
    </decorators>
</beans>